body {
    font-family: Arial;
}

#buscar {
    float: left;
    margin-left: 150px;
    width: 441px;
}

    #buscar h1 {
        font-size: 50px;
        width: 597px;
        height: 116px;
    }

    #buscar td {
        padding: 20px;
        border: 2px dashed white;
        margin: 20px;
        text-align: center;
    }


#restaurantes {
    margin-top: 50px;
    float: right;
    margin-right: 150px;
}


    #restaurantes #imagen {
        float: left;
    }

    #restaurantes #info {
        float: right;
    }

    #restaurantes #boton {
    }

    #restaurantes tr {
        border-bottom: 2px solid #808080;
        margin-left: 200px;
    }

    #restaurantes td {
        margin-left: 200px;
    }

#frecuentes {
    margin-top: 50px;
    float: left;
    margin-left: 150px;
}

    #frecuentes #zona {
        columns: 3;
    }

    #frecuentes #tipo {
        columns: 3;
    }

    #frecuentes #li {
    }
