body {
    font-family:arial;
    color:#ccc;
    background-color:black;
}
#principal {
   
    text-align:center;
    background-color:black;
    margin-right:10%;

}
header{
	background-color:orange;
	border-bottom:2px solid green;
	text-align:center;
}
hl{
	font-size:40px;
}
#gg1 {
  position: relative;
  transition-property: background-image, color;
  transition-duration: 3s;
  
 
 
}

#gg1:hover {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 3s;

}
